In [12]:
fname = input("Enter file name: ")
if len(fname) < 1 : fname = "../py4e/data/mbox.txt"

fh = open(fname)
count = {}

for line in fh:
    words = line.split()
    #print(words)

    if(len(words) < 1 or words[0] != "From"):
        continue
    else:
        #print(words[1])
        count[words[1].split('@')[-1]] = count.get(words[1].split('@')[-1], 0) + 1

Enter file name:

In [13]:
count

{'uct.ac.za': 96,
 'media.berkeley.edu': 56,
 'umich.edu': 491,
 'iupui.edu': 536,
 'caret.cam.ac.uk': 157,
 'gmail.com': 25,
 'indiana.edu': 178,
 'et.gatech.edu': 17,
 'vt.edu': 110,
 'lancaster.ac.uk': 14,
 'ucdavis.edu': 1,
 'ufp.pt': 28,
 'txstate.edu': 17,
 'stanford.edu': 12,
 'whitman.edu': 17,
 'rsmart.com': 8,
 'fhda.edu': 1,
 'bu.edu': 14,
 'unicon.net': 9,
 'loi.nl': 9,
 'utoronto.ca': 1}

In [15]:
import sqlite3

conn = sqlite3.connect('domaindb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''CREATE TABLE Counts (org TEXT, count INTEGER)''')

for k, v in count.items():
    cur.execute('''INSERT INTO Counts (org, count)
                VALUES (?, ?)''', (k, v))
conn.commit()

In [16]:
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17
txstate.edu 17
whitman.edu 17
lancaster.ac.uk 14
bu.edu 14
stanford.edu 12
unicon.net 9
loi.nl 9
rsmart.com 8
ucdavis.edu 1
fhda.edu 1
utoronto.ca 1

In [ ]:
cur.close()