In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./datafiles/testing_data.csv")

In [3]:
unique_codes = df['code'].unique()

In [4]:
unique_codes.shape

(24,)

In [5]:
unique_codes

array(['4.1.D.1b', nan, '1.8', '1.1.A.3b', '2.4.G.2', '1.7.5a',
       '3.6.B.2c', '4.2.A.1e', '4.1.D.1a', '3.7.B.1', '4.1.E.1',
       '2.4.C.1b', '2.4.G.1', '8.3.1a', '8.3.1d', '2.3.3b', '6.3.1d',
       '7.1.2', '7.3.D.3', '3.7.B.3', '1.1.C.1d', '2.7.3',
       '8.4.1 (a) (i)', '5.3.4 (b) (i)'], dtype=object)

In [18]:
df['code'].isnull().sum()

46

In [22]:
df.loc[df['code'] == unique_codes[0]]

,mot-imported-id,dvsa_vehicle_id,completed_date,test_result,expiry_date,odometer_value,odometer_unit,mot_test_number,id,registration,make,model,first_used_date,fuel_type,primary_colour,id.1,dvsa_mot_test_id,type,text,code
0,6924944,731007,30/01/2006 13:35:09,FAILED,NaN,55965,mi,593630036030,731007,S180SLC,MAZDA,MX5,1/8/1998,Petrol,Black,329454,6924944,FAIL,Nearside Front Tyre has ply or cords exposed (...,4.1.D.1b
1,6924944,731007,30/01/2006 13:35:09,FAILED,NaN,55965,mi,593630036030,731007,S180SLC,MAZDA,MX5,1/8/1998,Petrol,Black,329455,6924944,FAIL,Offside Front Tyre has ply or cords exposed (4...,4.1.D.1b

In [ ]:
df.loc[df['code'] == unique_codes[0]]